<ion-tabs class="tabs-icon-top tabs-dark">
  <ion-tab title="Character" icon="ion-person" ui-sref="characterPage">
    <ion-nav-view name="character-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Store" icon="ion-cash" ui-sref="storePage">
    <ion-nav-view name="store-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Zone" icon="ion-cube" ui-sref="currentZone">
    <ion-nav-view name="zone-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Quests" icon="ion-pinpoint" ui-sref="quests">
    <ion-nav-view name="quests-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" icon="ion-earth" ui-sref="mapPage">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>